/*Header y Navbar*/

@media (max-width: 1620px){
    .container-fluid{
        flex-direction: column;
    }
    .d-flex{
        margin-bottom: 1.25rem;
        padding-left: 1.875rem;
    }
    .logoheader{
        margin-left: 0%;
    }
}