.articulo{
    background-color: map-get($map: $ColorFondo, $key: negro);
    text-decoration: none;
    height: 3.75rem;
    width: 100%;
    transition: all 0.5s;
}

.noticia{
    text-decoration: none;
    color: $amarillo;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.1875rem;
    display: flex;
    justify-content: center;
    padding-top: .3125rem;
    transition: all 0.5s;
    -webkit-animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3 both;
	animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3 both;
}

@-webkit-keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
                transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
    }
}
@keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
                transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
    }
}

.articulo:hover{
    transform: scale(1.2);
}

.noticia:hover{
    transform: scale(1.2);
}